:root {
  --DarkPurple: #42236E;
  --DarkPurple2: #6031AB;
  --RedCostum: #CC2624;
  --YellowCostum: #F2A71B;
  --PinkCostum: #F24495;
}
*{
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #ddd;
}

/* styling */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #3b1a69;
  box-shadow: 1px 2px 4px 0px rgba(1, 1, 1, 0.1);
  height: 30px;
  margin: 0 auto;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  width: 45%;
}
nav ul li a{
  text-decoration: none;
  color: #ddd;
}
nav ul li a:hover{
  color: var(--DarkPurple);
  background-color: #F2A71B;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.logo{
  color: #F2F2F2;
  cursor: pointer;
}
.menu-toggle{
  display: none;
}
/* end navbar */
.jumbotronn{
  background-color: var(--DarkPurple);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
  margin: auto;
}
.jumbotron-body{
  margin: auto;
  width: 40%;
}
.jumbotronn >img{
  height: 250px;
  width: 60%;
  max-height: auto;
}
.jumbo-subtitle {
  font-size: 20pt;
  color: #FFB616;
}
.jumbo-title {
  font-size: 56px;
  line-height: 1;
  font-weight: bolder;
  color: whitesmoke;
}
.forms {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 20px 0;
}

.labels {
  height: 25px;
  border-radius: 30px 0px 0px 30px;
  border-style: none;
  border: none;
}

.submits {
  height: 27px;
  border-radius: 0px 30px 30px 0px;
  border-style: none;
  border: none;
  font-weight: bold;
  font-size: 10px;
  background-color: #F24495;
  color: white;
}

/* end jumbotron */
.row {
  background-color: #F2F2F2;
  width: 100%;
  height: auto;
}
.column {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.hero-body {
  display: inline-block;
  padding: 40px 0;
  width: 380px;
}

.hero-subtitle {
  font-weight: bolder;
  color: #4C1161;
  background-color: #F2A71B;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}
.hero-title {
  font-size: 50px;
  line-height: 1;
  font-weight: bolder;
  color: #4C1161;
  padding-bottom: 10px;
}

.hero-desc {
  font-size: 12px;
}
.column p {
  text-align: justify;
  font-size: 12px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.card {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 30px;
  box-shadow: 1px 1px 2px 0px rgba(1, 1, 1, 0.1);
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid lightgrey;
  background-color: white;
  color: #4C1161;
  cursor: pointer;
}

.card:hover {
  background-color: #42236E;
  color: white;
  box-shadow: 1px 4px 80px 0px rgba(128, 77, 250, 0.7);
}

.card>div>img {
  width: 34px;
}

/* end hero */
.quality-sect {
  padding: 30px 30px;
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}
.quality{
  width: 600px;
}
.quality-footer{
  display: flex;
  align-items: center;
}
.quality-caption{
  padding-right: 20px;
}
.quality-caption .quality-caption1{
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
}
.quality-caption1{
  padding-bottom: 10px;
}
.high-quality {
  padding: 0px 10px;
  width: 400px;
}

.text-quality-small {
  font-weight: bold;
  color: #891FAD;
  padding-bottom: 10px;
}
.start-quality {
  font-size: 50px;
  line-height: 1;
  font-weight: bolder;
  padding-bottom: 20px;
  color: #4C1161;
}

.para-quality {
  padding-bottom: 20px;
  width: 350px;
}

.btn-quality {
  width: 150px;
  height: 30px;
  color: white;
  background-color: #F24495;
  border-style: none;
}

/* end quality */
.feature-sect {
  background-color: #42236E;
  width: 100%;
  height: auto;
  padding: 30px 0;
  margin: auto;
}

.featured {
  padding: 20px 0px;
}

.findc {
  color: #FFB616;
  padding-bottom: 10px;
  text-align: center;
}

.findfeat {
  color: white;
  font-size: 45px;
  font-weight: bolder;
  padding-bottom: 30px;
  text-align: center;
}

.flag {
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.flag p {
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
}

.flags {
  display: grid;
  grid-template-columns: repeat(6, 0.5fr);
  align-content: center;
  margin: 0 auto;
  height: 40px;
  width: 75%;
  border: 1px solid white;
  border-radius: 10px;
}

.materi {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 0.8fr);
  gap: 15px;
  place-content: center;
  padding: 50px 0;
  margin: 0 auto;
}

.materi-course {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3b1a69;
}

.materi-title {
  color: whitesmoke;
  padding: 8px 0px;
  background-color: #6031AB;
}

.materi-title>div {
  padding: 5px 10px;
  margin: 0 auto;
}

.materi-desc {
  font-size: 10px;
}

.learning-title {
  font-size: 18px;
  font-weight: bolder;
}

.materi-footer {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 9px;
}

.pagination {
  display: flex;
  margin: auto 50%;
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: whitesmoke;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* end materi */

.text1-testi {
  padding-top: 30px;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #F24495;
}
.text2 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
  color: #42236E;
}
.testimoni-container{
  padding: 30px;
  margin: 0 auto;
}
.testimoni{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
  padding: 10px;
}
.testimonibody{
  background-color: #f2f2f2;
  width: 700px;
  padding: 20px;
  border-radius: 10px;
}
.testimoni-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimoni-name button{
  background-color: var(--DarkPurple);
  color: #f2f2f2;
  border-style: none;
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 5px;
}
.textname{
  font-size: 20px;
  font-weight: bold;
}
.testimoni-footer{
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimoni-footer button{
  background-color: #ddd;
  border-style: none;
  border: 1px solid lightgray;
  font-weight: bolder;
}
/* end testimoni */

.price {
  background-color: #F2F2F2;
  height: auto ;
}
.prices {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  gap: 40px;
  padding-bottom: 40px;
  margin: auto;
  position: relative;
}
.price-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.price-body {
  background-color: white;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  box-shadow: 0px 4px 8px 0px rgba(1, 1, 1, 0.1);
  border: 1px solid lightgray;
  position: relative;
}

.price-btn {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
  border-style: none;
  color: white;
  background-color: #42236E;
}

.price-btn:hover {
  background-color: #F24495;
}

/* ribbon */
      .ribbon {
        position: absolute;
        left: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
      }
      .ribbon span {
        font-size: 10px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#6031AB 0%, #42236E 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; left: -21px;
      }
      .ribbon span::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid #42236E;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #42236E;
      }
      .ribbon span::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #42236E;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #42236E;
      }
/* ribbon */


.text-easy {
  object-fit: cover;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  color: #42236E;
}

.text-dollar {
  padding: 20px 10px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  color: #F24495;
}

.text-desc {
  padding: 0 20px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}

/* end price */
.feature-video {
  background-color: #42236E;
  margin: 0 auto;
}
.titlevideos{
  line-height: 1;
}
.feature-body {
  padding: 40px 0px;
}

.featured-grid {
  width: 80%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 0 30px;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}

.featured-video-title {
  color: #42236E;
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
}

.featured-video-img img {
  border-radius: 10px;
}

.feature-footer {
  width: 180px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  color: #42236E;
  font-size: 12px;
}
/* end feature videos */
.schools-sect {
  background-color: #F2F2F2;
  width: 100%;
}
.zzzz {
  background-color: white;
  padding: 20px;
}
.schools-div{
  margin: 0 auto;
  display: flex;
  place-content: center;
  align-items: flex-end;
  gap: 20px;
  padding: 40px 30px;
}
.schools{
  margin: 0; 
  width: 430px;
}
.schools-tab {
  margin: 0;
  width: 450px;
}
.category-school {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  height: 30px;
}
.category-school-footer{
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  color: #4B4952;
}
.category-school button {
  height: 25px;
  width: 100px;
  border-style: none;
  background-color: #42236E;
  color: white;
  font-weight: bold;
}

.header-school {
  padding: 0;
}

.schools-text-school {
  font-size: 40px;
  font-weight: bolder;
  color: #42236E;
  /* padding-bottom: 15px; */
}

.schools-text-our {
  font-size: 16px;
  color: #F24495;
}

/* school tab */

.w3-red:hover {
  background-color: #F24495;
  color: white;
  transition: 500ms;
}

.tab-bar {
  padding: 20px;
  background-color: white;
}

.w3-bar-item {
  height: 50px;
  width: 150px;
  border-style: none;
  background-color: transparent;
  color: #42236E;
  font-weight: bolder;
  text-align: center;
}

.w3-bar {
  margin: 0 auto;
  /* width: 430px; */
  background-color: lightgray;
}

.w3-body {
  display: flex;
  gap: 10px;
  padding: 8px 0;
}

.w3-title {
  font-size: 18px;
  font-weight: bold;
  color: #42236E;
}

.bzisjsn{
  display: flex;
  font-size: 10px;
  gap: 20px;
}

/* end schools */

.joinsect {
  margin: auto;
  padding: 10px 20px;
  background-color: #42236E;
}

.joinus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 30px;
  margin: auto;
}

.subscribe {
  width: 50%;
}

.subscribe-now {
  font-size: 18px;
  color: #F24495;
}

.subscribe-title {
  font-size: 36px;
  font-weight: bold;
  color: whitesmoke;
}

.subscribe-desc {
  color: whitesmoke;
  font-size: 12px;
}

/* end subscribe */
.download-sect {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.downloads {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  padding: 40px 30px;
}
.download{
  width: 600px;
}
.download-app {
  display: flex;
  gap: 5px;
}

.fhfdm {
  width: 400px;
  padding: 20px 0;
}

.dwn-svg {
  padding: 5px 10px;
}

.download-container {
  display: flex;
  gap: 10px;
  align-items: stretch;
}

.jendhd {
  font-size: 24px;
  font-weight: bold;
  color: #42236E;
  padding-bottom: 10px;
}

.jdieke {
  padding-bottom: 10px;
}




.language {
  font-size: 18px;
  color: #F24495;
}

.free-mobile {
  font-size: 56px;
  font-weight: bold;
  color: #42236E;
  padding-bottom: 10px;
  line-height: 1;
}

.available {
  font-size: 12px;
  color: white;
}

.store {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.download-button-apple {
  background-color: #F24495;
  display: flex;
  gap: 5px;
  padding: 5px 30px;
  align-items: center;
  justify-content: center;
}

.download-button-google {
  background-color: #42236E;
  display: flex;
  gap: 5px;
  padding: 5px 30px;
  align-items: center;
  justify-content: center;
}

/* end download */

footer {
  margin: auto;
  background-color: #42236E;
  padding: 0;
}

.footer-body {
  padding: 40px 40px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 30px;
  margin: auto;
}

.footer-title {
  font-size: 14px;
  color: #F2A71B;
  font-weight: bold;
}

.footer-list {
  padding-top: 20px;
}

.footer-list li {
  list-style-type: none;
  color: lightgray;
  padding: 5px 0;
  font-size: 12px;
}
.footercopys{
  background-color: #CC2624;
  color: #ddd;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 10px;
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin: auto;
}
.footer-social{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--YellowCostum);
}
.footer-social img {
  width: 20px;
  filter: invert(100);
}
.footerlist{
  border: 0;
  height: 1px;
  background: var(--DarkPurple2);
}
.footercopy {
  width: 350px;
  color: white;
  font-size: 8pt;
}

.footerlogo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
/*responsive*/

/* mobile responsive */
@media screen and (max-width: 600px) {
  nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 50px auto;
  }
  nav ul{
    display: none;
  }
  .menu-toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    border: 1px solid whitesmoke;
    padding: 5px 5px;
    border-radius: 5px;
  }
  .menu-toggle span{
    display: block;
    background-color: #ddd;
    border-radius: 1px;
    height: 2px;
    width: 25px;
  }

  /* Jumbotron */
  .jumbotronn{
    padding: 20px 20px;
    margin:  auto;
    display: table;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
  }
  .jumbo-subtitle {
    font-size: 18px;
    color: #FFB616;
  }
  .jumbo-title {
    font-size: 35px;
    line-height: 1;
    font-weight: bolder;
    color: whitesmoke;
  }
  .jumbotron-body{
    margin: auto;
    width: 100%;
  }
  .jumbotronn >img{
    margin: auto;
    width: 100%;
  }
  /* column */
  .column{
    margin: auto;
    padding: 20px 20px;
    display: block;
  }
  .cards{
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 50px ;
    padding-bottom: 20px;
  }
  /* quality */
  .quality-sect{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .quality{
    width: 100%;
  }
  .quality-caption{
    padding: 10px 10px;
  }
  .quality img{
    padding-bottom: 10px;
    margin: auto;
  }
  .quality-footer{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  .high-quality{
    margin: auto;
    width: 100%;
  }
  /*  end */
  .materi{
    grid-template-columns: auto;
  }
  /* end */
  .featured{
    margin: auto;
    padding: 0 10px;
  }
  .findfeat{
    font-size: 32px;
  }
  .flags{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 40px ;
    grid: 5px;
    justify-content: center;
    border: none;
    padding: 40px 0;
    margin: auto;
  }

  /* end */
  .testi-moni{
    margin: 0 auto;
  }
  .testimoni{
    display: inline-block;
    justify-content: center;
  }
  .testimoni-name{
    display: inline-block;
  }
  .testimonibody{
    width: fit-content;
    right: 0;
    top: 0;
  }
  /* end */

  .prices{
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .price-container{
    flex-direction: column;
  }
  .text2{
    font-size: 32px;
  }
  /* end */

  .featured-grid{
    grid-template-columns: 2fr;
    justify-content: center;
    grid-gap: 10px;
    margin: auto;
  }
  .feature-body{
    margin: auto;
  }

  /* end */

  .schools-div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 20px;
  }
  .schools{
    margin: 0; 
    width: auto;
  }
  .schools-tab {
    margin: 0;
    width: auto;
  }

  /* end */

  .joinus{
    display: inline-block;
    margin: auto 0;
  }
  .download{
    width: 100%;
  }
  .downloads{
    display: inline-block;
  }
  .free-mobile{
    width: 90%;
    font-size: 32px;
  }

  /* end */
  .footer-body{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .footer-copyright{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footercopy{
    text-align: center;
  }
  .footercopys{
    background-color: #CC2624;
    color: #ddd;
    font-weight: bolder;
    text-transform: uppercase;
  }
}
